$dark_gray            : #666;
$light_gray           : #999;
$lighter_gray         : #CCC;
$emit_gray            : #EEE;
$almost_white         : #FCFCFC;
$white                : #FFF ;
$turquoise            : #26c1c5;
$transparent_turquoise: transparentize($turquoise,0.7);

$icon_size            : 64px;
$sandbox_size         : 46px;
$receiver_size        : 72px;
$message_size         : 80px;
