<div id="controls">
  <b>Controls</b>
  <button class="start-todos">Start Todos</button>
  <button class="stop-todos">Stop Todos</button>
  <button class="start-calendar">Start Calendar</button>
  <button class="stop-calendar">Stop Calendar</button>
  <button class="start-all">Start All</button>
  <button class="emit-data">Emit Data</button>
  <select class="language">
    <option value="en-us">English</option>
    <option value="fr-fr">French</option>
    <option value="nb-no">Norwegian</option>
  </select>
</div>
<div id="routes">
<b>Router</b>
    <em>Calendar View:</em>
      <small><a href="#calendar/gotoView/month">month</a>
      <a href="#calendar/gotoView/basicWeek">basicWeek</a>
      <a href="#calendar/gotoView/basicDay">basicDay</a>
      <a href="#calendar/gotoView/agendaWeek">agendaWeek</a>
      <a href="#calendar/gotoView/agendaDay">agendaDay</a></small>
    <em>Calendar Go To:</em><small>
      <a href="#calendar/gotoDate/2012/4/15">April 15, 2012</a>
      <a href="#calendar/gotoDate/2012/6">June 2012</a></small>
      <em>Todos:</em>
      <small><a href="#todos/checkAll">Check All</a>
      <a href="#todos/uncheckAll">Uncheck All</a>
      <a href="#todos/filter/Doctor">Filter by title "Doctor"</a>
      <a href="#todos/select/Birthday">Select by title "Birthday"</a></small>
</div>
