
footer {
  @media (max-width: 767px){
    margin:0 -20px;
  }
  padding: 2em;
  margin-top: 1em;
  background: #f1f1f1;
  @include box-shadow(inset 0 1px 8px rgba(0,0,0,0.2));
  font-size: 12px;
  ul{
    list-style-type:none;
    padding:0;
  }
}


.credits{
  a{
    color: $dark_gray;
    font-weight:600;
    &:hover, &:focus {
      color: lighen($dark_gray, 20%);
      text-decoration: none;
    }
  }
  p:last-child {
    margin: 0;
  }
}

