@mixin invisibleGlow(){
  @include text-shadow(0 1px 2px darken($turquoise, 5%), 0 0px 30px $turquoise, 0 0px 30px $turquoise);
}

.header {
  position: relative;
  z-index: 100;

  // background: $turquoise;
  @media (max-width: 767px){
    margin:0 -20px;
    padding:0 20px;
  }

  .navbar{
    position: relative;
    z-index: 101;
    // .nav > li > a, .brand{
    //   color: white;
    //   @include text-shadow(none);
    // }
  }
  .navbar-inner{
    background: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    @include box-shadow(none);
  }
  .nav {
    font-size: 14px;
    @media (max-width: 767px){
      display:none;
    }
    ul {
      margin: 0;
      list-style: none;
    }
    li {
      float: left;
      margin-left: 15px;
    }
    a {
      color: rgba(255, 255, 255, 0.8);
      @include invisibleGlow();
      &:hover, &:active, .is_active & {
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .title, .brand, .nav > li > a{
    color:white;
    font-weight: 400;
    @include text-shadow(0 1px 4px darken($turquoise,10%),0 1px 20px $turquoise);
  }
  .brand {
    font-size: 20px;
    font-weight: 400;
    letter-spacing:0.2em;
    @media (max-width: 767px){
      float: none;
      text-align: center;
      width: 100%;
      display: block;
    }
  }

  .hero-unit{
    margin-bottom: 0;
  }
}
.glow, #particles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#particles{
  background:$turquoise;
  min-height: 360px;
  // @include box-shadow(0 2px 8px rgba(0,0,0,0.2));
}
.hero-unit {
  background: transparent;
  position: relative;
  text-align: center;
  h6 {
    color:white;
    margin-bottom: 1em;
    // font-size: 46px;
    @media (max-width: 767px){
      margin-bottom: 0.3em;
      // font-size:24px;
    }
  }
  .button {
    margin:0 7px;
    min-width: 160px;
    @media (max-width: 767px){
      width: 100%;
      margin:10px 0;
    }
    &.faded{
      @include invisibleGlow();
      color:rgba(255,255,255,.8);
      &:hover, &:active{
        color:rgba(255,255,255,1);
      }
    }
  }
  .logo{
    max-width: 100%;
  }
  .logo-block{
    @media (min-width: 767px){
      max-width: 600px;
      margin:0 auto 2em auto;
      width:60%;
      .logo{
        text-align: right;
      }
      .title{
        text-align: left;
      }
    }
  }
}
