@media (max-width: 767px){
  .nav-container{
    display: none;
  }
}
.nav-container{
  padding: 0;
  background: transparent;
}

#side_nav{
  .level_1{
    padding-left: 0;
    @include adjust-font-size-to(18px);
    @include rhythm(0, 0, 0, 0, 18px);
    > a{
      color: darken($turquoise, 10%);
    }
  }
  .level_2{
    @include adjust-font-size-to(14px);
    @include rhythm(0, 0, 0, 0, 14px);
  }
}

.navbar-static-top{
  z-index: 100;
  position: relative;
}
#side_nav.affix{
  top:0;
  position: fixed;
  & + .container{
    margin-top: 46px;
  }
}

.accordion-heading .accordion-toggle{
  padding-left: 0;
}
