body {
  @extend .brand-font;
  color: $dark_gray;
  font-size: 16px;
  line-height:1.6;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $turquoise;
  text-decoration: none;
  @include transition(all 0.3s);
  &:hover, &:active {
    text-decoration: underline;
  }
}

li{
  line-height: 1.6;
}

h1{
  font-size: 2.75em;
  font-size: 2em;
}
h2{
  font-size: 2.3em;
  font-size: 1.4em;
}
h3{
  font-size: 1.8em;
  font-size: 1.2em;
}
h4{
  font-size: 1.3em;
  font-size: 1em;
}
h5{
  font-size: 1em;
  font-size: 1em;
}
h6{
  font-size: 1em;
}

h2, h3, h4, h5, h6{
  margin-top:1.4em;
  margin-bottom:0.4em;
}
.bold-weight{
  font-weight: 600;
}

.normal-weight{
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  @extend .brand-font;
  @extend .normal-weight;
  color: darken($dark_gray, 10%);
}


.introduction{
  h1{
    @extend .bold-weight;
  }
}

.pre, pre{
  @include border-radius(4px);
  background: $almost_white;
  border:none;
}
code {
  @extend .pre;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  color:darken($dark_gray, 10%);
}

nav{
  @extend .bold-weight;
}
