$base_color: $dark_gray;

body {
  @extend .brand-font;
  color: $base_color;
  font-size: $base-font-size;
  // line-height: 24px;

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $turquoise;
  text-decoration: none;
  @include transition(all 0.3s);
  &:hover, &:active {
    text-decoration: underline;
  }
}




h1, h2, h3, h4, h5, h6 {
  @extend .brand-font;
  @extend .normal-weight;
  color: darken($dark_gray, 10%);
}

.introduction{

  h1 {
    @include adjust-font-size-to(42px);
    @include rhythm(2, 0, 0, 2, 42px);
    color: darken($base_color, 15%);
  }

  h2 {
    @include adjust-font-size-to(36px);
    @include rhythm(2, 0, 0, 1, 36px);
    color: darken($base_color, 15%);
  }

  h3 {
    @include adjust-font-size-to(24px);
    @include rhythm(1, 0, 0, 1, 24px);
    color: darken($base_color, 15%);
  }

  h4 {
    @include adjust-font-size-to(18px);
    @include rhythm(1, 0, 0, 1);
    color: darken($base_color, 15%);
  }
  p{
    @include adjust-font-size-to(18px);
    @include rhythm(0.5, 0, 0, 0.5, 18px);
  }
  li{
    @include adjust-font-size-to(18px);
    @include rhythm(0, 0, 0.2, 0, 18px);
  }
}

.header {
  h2{
    @include adjust-font-size-to(24px, 1.5);
    @include rhythm(0, 0.5, 0.5, 0, 24px);
  }
}


.bold-weight{
  font-weight: 600;
}

.normal-weight{
  font-weight: 400;
}


.introduction{
  h1, h4{
    @extend .bold-weight;
  }
}

.pre, pre{
  @include border-radius(4px);
  background: $almost_white;
  border:none;
}

code {
  @extend .pre;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  color:darken($dark_gray, 10%);
}

nav{
  @extend .bold-weight;
}
