<section class="container">
  <div class="row">
    <div class="span2 offset1">
      <ul class='unstyled'>
        <li>© 2012 Addy Osmani</li>
        <li>License : MIT</li>
        <li>
          <a href="http://hull.io">Design by hull.io</a>
        </li>
      </ul>
    </div>
    <div class="span6 offset1">
      <p>
        <strong>
          Aura is the work of : Addy Osmani, Dustin Boston, Gerson Goulart, Tony Narlock, Sindre Sorhus, Peter Rudolfsen, Robert Djurasaj, Joel Hooks, Dan Lynch
        </strong>
      </p>
    </div>
  </div>
</section>
