<div class="header">
  <div id="particles"></div>
  <div class="hero-unit">
    <div class="logo-block">
      <div class="row-fluid">
        <div class="span4 logo">
          <%= image_tag data.strings.image%>
        </div>
        <div class="span8">
          <h2 class="title">
            <%= data.strings.description%>
        </div>
      </div>
    </div>
    <a class="button" href="https://github.com/aurajs/aura/zipball/master">Download .zip</a>
    <a class="button" href="https://github.com/aurajs/boilerplate/tarball/master">Download boilerplate</a>
    <a class="button faded" href="https://github.com/aurajs/aura">View on Github</a>
  </div>
</div>
