<section class="container">
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <a class="brand" href="/">
          <span class="char char-1">a</span>
          <span class="char char-2">u</span>
          <span class="char char-3">r</span>
          <span class="char char-4">a</span>
        </a>
        <ul class='nav pull-right'>
          <li>
            <a href="https://github.com/aurajs/aura/blob/master/README.md" title="Docs">Docs</a>
          </li>
          <li>
            <a href="https://github.com/aurajs/aura/blob/master/README.md" title="Demo">Demo</a>
          </li>
          <li>
            <a href="https://github.com/aurajs/aura/" title="View on Github">View on Github</a>
          </li>
        </ul>
    </div>
  </div>
</section>
