html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

a img {
  border: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
  margin-bottom:60px;
}

#widget-container {
  width: 95%;
  margin: 30px auto;
}

.widget {
  margin: 30px;
  float: left;
}
.widget h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0 30px 0;
  line-height: 1;
}

header {
  margin: 0 auto;
  width: 600px;
}

header h1 {
  text-align: center;
  font-size: 3em;
  font-weight:bold;
  padding: 20px;
}

footer#info {
  margin: 65px auto 0;
  color: #a6a6a6;
  clear:both;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  text-align: center;
}
footer#info a {
  color: inherit;
}
