#controlsapp{
	position: fixed;
	bottom: 0;
	right: 0;
	display: block;
	background: white;
	padding: 5px;
	z-index: 80;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) -3px -2px 6px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) -3px -2px 6px 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) -3px -2px 6px 0;
	box-shadow: rgba(0, 0, 0, 0.2) -3px -2px 6px 0;
	clear: both;
	max-height: 80px;
	opacity: .8;

}

#controlsapp small{
	font-size: 10px;
}

#controlsapp #controls{
	float: left;
	width: 40%;
}
	#controlsapp #controls b{
		padding: 10px 5px;
		display: block;
		float: left;
	}
	#controlsapp #controls button{
		display: block;
		float: left;
	}
#controlsapp #routes {
	float: right;
	width: 55%;
}

#controlsapp #routes b {
	padding: 10px 5px;
	display: block;
	float: left;
}

#controlsapp #routes em {
	font-size: 9px;
	font-style: italic;
}
